<div class="col s12 m4">
  <div class="card">
    <div class="card-content">
      <div style="text-align: center">
        <%= image_tag user.photo? ? user.photo.url : "user-placeholder.png", size: "130x130", class: "circle responsive-img" %>
      </div>
    </div>
    <div class="card-action" style="pading-bottom: 0">
      <div class="row"style="margin-bottom: 0; margin-top: 0">
        <div >
          <h5><strong><%= user.name %></strong></h5>
        </div>

      </div>
      <div class="row" style="margin-top: -10px">
        <strong style="color: #757575 "><%= user.username %></strong>
      </div>
      <div class="row">
        <i class="material-icons">location_city</i>
        <strong><%= user.city || "-" %></strong>
      </div>
      <div class="row" style="margin-top: -10px">
        <i class="material-icons">watch_later</i>
        <strong>Entrou em <%= I18n.l(user.created_at || "-") %></strong>
      </div>
    </div>
  <div class="card-action" style="text-color: blue">
    <div class="center-align">
      <strong><a href="#" style="color: #2FC2EF"><%= user.posts.size %> Posts</a></strong>
      <strong><a href="#" style="color: #2FC2EF"><%= user.following.size %> Seguindo</a></strong>
      <strong><a href="#" style="color: #2FC2EF"><%= user.followers.size %> seguidores</a></strong>
    </div>

  </div>
</div>
<div class="row right">
  <div style="margin-right: 10px">
    <%= link_to "EDITAR PERFIL", edit_user_registration_path, class: "waves-effect waves-light btn" if user_signed_in? %>
  </div>

</div>
</div>
